<!--
/***************************************************************
* Name        : Admin/Views/Instrument/Index.cshtml
* Author      : Tom Sorteberg
* Created     : 04/25/2021
* Course      : CIS 174
* Version     : 1.0
* OS          : Windows 10 Pro, Visual Studio Community 2019
* Copyright   : This is my own original work based on
*               specifications issued by our instructor
* Description : Final Project
* I have not used unauthorized source code, either modified or
* unmodified. I have not given other fellow student(s) access
* to my program.
***************************************************************/
-->
@model InstrumentListViewModel

@{
    ViewData["Title"] = " | Manage Instruments";

    RouteDictionary current = Model.CurrentRoute;
    RouteDictionary routes = Model.CurrentRoute.Clone();
}

<h5 class="mt-1"><a asp-action="Add">Add an Instrument</a></h5>

<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>
                @{ routes.SetSortAndDirection(nameof(Instrument.Name), current); }
                <a asp-action="Index" asp-all-route-data="@routes"
                   class="text-white">Product</a>
            </th>
            <th></th>
            <th>
                @{ routes.SetSortAndDirection(nameof(Brand), current); }
                <a asp-action="Index" asp-all-route-data="@routes"
                   class="text-white">Brands</a>
            </th>
            <th>
                @{ routes.SetSortAndDirection(nameof(Department), current); }
                <a asp-action="Index" asp-all-route-data="@routes"
                   class="text-white">Department</a>
            </th>
            <th>
                @{ routes.SetSortAndDirection(nameof(Instrument.Price), current); }
                <a asp-action="Index" asp-all-route-data="@routes"
                   class="text-white">Price</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Instrument instrument in Model.Instruments)
        {
        <tr>
            <td style="text-align: center;"><img style="height: 50px; width: 50px;" src="~/images/@instrument.LogoImage" alt="" /></td>
            <td>
                <a asp-action="Details" asp-route-id="@instrument.InstrumentId"
                   asp-route-slug="@instrument.Name.Slug()">
                    @instrument.Name
                </a>
            </td>

            <td style="text-align: center;"><img style="height: 50px; width: 50px;" src="~/images/@instrument.Brand.LogoImage" alt="" /></td>
            <td>
                <p>
                    <a asp-action="Details" asp-controller="Brand"
                       asp-route-id="@instrument.BrandId"
                       asp-route-slug="@instrument.Brand.BrandName.Slug()">
                        @instrument.Brand.BrandName
                    </a>
                </p>
            </td>

            <td>@instrument.Department?.Name</td>
            <td>@instrument.Price.ToString("c")</td>
            <td>
                <div class="float-right">
                    <a asp-action="Edit" asp-route-id="@instrument.InstrumentId" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@instrument.InstrumentId" class="btn btn-primary">Delete</a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    routes = Model.CurrentRoute.Clone();

    for (int i = 1; i <= Model.TotalPages; i++)
    {
        routes.PageNumber = i;
        <a asp-action="Index" asp-all-route-data="@routes"
           class="btn btn-outline-primary @Nav.Active(i, current.PageNumber)">@i</a>
    }
}