<!--
/***************************************************************
* Name        : Admin/Views/Department/Index.cshtml
* Author      : Tom Sorteberg
* Created     : 05/01/2021
* Course      : CIS 174
* Version     : 1.0
* OS          : Windows 10 Pro, Visual Studio Community 2019
* Copyright   : This is my own original work based on
*               specifications issued by our instructor
* Description : Final Project
* I have not used unauthorized source code, either modified or
* unmodified. I have not given other fellow student(s) access
* to my program.
***************************************************************/
-->
@model DepartmentListViewModel

@{
    ViewData["Title"] = " | Manage Departments";

    RouteDictionary current = Model.CurrentRoute;
    RouteDictionary routes = Model.CurrentRoute.Clone();
}

<h5 class="mt-1"><a asp-action="Add">Add a Department</a></h5>

<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th>
                @{ routes.SetSortAndDirection(nameof(Department.Name), current); }
                <a asp-action="Index" asp-all-route-data="@routes"
                   class="text-white">Departments</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Department department in Model.Departments)
        {
            <tr>
                <td>@department.Name</td>
                <td>
                    <div class="float-right">
                        <a asp-action="Edit" asp-route-id="@department.DepartmentId" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@department.DepartmentId" class="btn btn-primary">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    routes = Model.CurrentRoute.Clone();

    for (int i = 1; i <= Model.TotalPages; i++)
    {
        routes.PageNumber = i;
        <a asp-action="Index" asp-all-route-data="@routes"
           class="btn btn-outline-primary @Nav.Active(i, current.PageNumber)">@i</a>
    }
}
