<!--
/***************************************************************
* Name        : Areas/Admin/Views/Shared/_AdminLayout.cshtml
* Author      : Tom Sorteberg
* Created     : 04/18/2021
* Course      : CIS 174
* Version     : 1.0
* OS          : Windows 10 Pro, Visual Studio Community 2019
* Copyright   : This is my own original work based on
*               specifications issued by our instructor
* Description : Final Project
* I have not used unauthorized source code, either modified or
* unmodified. I have not given other fellow student(s) access
* to my program.
***************************************************************/
-->
@{
    // nested layout view
    Layout = "_Layout";

    // use current controller to determine if tab is active
    var current = ViewContext.RouteData.Values["controller"]?.ToString();
}

@section scripts {
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h1 class="mb-2">Management Console</h1>

<ul class="nav nav-tabs mt-2 mb-3">
    <li class="nav-item">
        <a asp-action="Index" asp-controller="Instrument"
           class="nav-link @Nav.Active("Instrument", current)">
            Manage Instruments
        </a>
    </li>
    <li class="nav-item">
        <a asp-action="Index" asp-controller="Brand"
           class="nav-link @Nav.Active("Brand", current)">
            Manage Brands
        </a>
    </li>
    <li class="nav-item">
        <a asp-action="Index" asp-controller="Department"
           class="nav-link @Nav.Active("Department", current)">
            Manage Departments
        </a>
    </li>
    <li class="nav-item">
        <a asp-action="Index" asp-controller="User"
           class="nav-link @Nav.Active("User", current)">
            Manage Users
        </a>
    </li>
</ul>

@RenderBody()
