<!--
/***************************************************************
* Name        : Instrument/List.cshtml
* Author      : Tom Sorteberg
* Created     : 04/21/2021
* Course      : CIS 174
* Version     : 1.0
* OS          : Windows 10 Pro, Visual Studio Community 2019
* Copyright   : This is my own original work based on
*               specifications issued by our instructor
* Description : Final Project
* I have not used unauthorized source code, either modified or
* unmodified. I have not given other fellow student(s) access
* to my program.
***************************************************************/
-->
@model InstrumentListViewModel

@{
    ViewData["Title"] = " | Instrument Catalog";

    // aliases to make paging, sorting, and filtering code shorter
    RouteDictionary current = Model.CurrentRoute;
    RouteDictionary routes = Model.CurrentRoute.Clone();
}

<h1>Instrument Catalog</h1>

@* filter form *@
<form asp-action="Filter" method="post" class="form-inline">
    <label>Brand: </label>
    <select name="filter" class="form-control m-2"
            asp-items="@(new SelectList(
            Model.Brands, "BrandId", "BrandName", current.BrandFilter))">
        <option value="@InstrumentsGridDTO.DefaultFilter">All</option>
    </select>

    <label>Department: </label>
    <select name="filter" class="form-control m-2"
            asp-items="@(new SelectList(
            Model.Departments, "DepartmentId", "Name", current.DepartmentFilter))">
        <option value="@InstrumentsGridDTO.DefaultFilter">All</option>
    </select>

    <label>Price: </label>
    <select name="filter" class="form-control m-2"
            asp-items="@(new SelectList(
            Model.Prices, "Key", "Value", current.PriceFilter))">
        <option value="@InstrumentsGridDTO.DefaultFilter">All</option>
    </select>

    <button type="submit" class="btn btn-primary mr-2">Filter</button>
    <button type="submit" class="btn btn-primary"
            name="clear" value="true">
        Clear
    </button>
</form>

@* add to cart form *@
<form asp-action="Add" asp-controller="Cart" method="post">
    <table class="table table-bordered table-sm">
        @* for each sortable table column, update the route dictionary with the field to sort by, and then
            use that route dictionary and the current route to create route segments for sorting link *@
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>
                    @{ routes.SetSortAndDirection(nameof(Instrument.Name), current); }
                    <a asp-action="List" asp-all-route-data="@routes"
                       class="text-white">Product</a>
                </th>
                <th></th>
                <th>Brands</th>
                <th>
                    @{ routes.SetSortAndDirection(nameof(Department), current); }
                    <a asp-action="List" asp-all-route-data="@routes"
                       class="text-white">Department</a>
                </th>
                <th>
                    @{ routes.SetSortAndDirection(nameof(Instrument.Price), current); }
                    <a asp-action="List" asp-all-route-data="@routes"
                       class="text-white">Price</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Instrument instrument in Model.Instruments)
            {
                <tr>
                    <td style="text-align: center;"><img style="height: 50px; width: 50px;" src="~/images/@instrument.LogoImage" alt="" /></td>
                    <td>
                        <a asp-action="Details" asp-route-id="@instrument.InstrumentId"
                           asp-route-slug="@instrument.Name.Slug()">
                            @instrument.Name
                        </a>
                    </td>

                    <td style="text-align: center;"><img style="height: 50px; width: 50px;" src="~/images/@instrument.Brand.LogoImage" alt="" /></td>
                    <td>
                        <p>
                            <a asp-action="Details" asp-controller="Brand"
                               asp-route-id="@instrument.BrandId"
                               asp-route-slug="@instrument.Brand.BrandName.Slug()">
                                @instrument.Brand.BrandName
                            </a>
                        </p>
                    </td>
 
                    <td>@instrument.Department?.Name</td>
                    <td>@instrument.Price.ToString("c")</td>
                    <td style="text-align: center;">
                        <button type="submit" name="id" value="@instrument.InstrumentId"
                                class="btn btn-primary">
                            Add To Cart
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@{
    routes = Model.CurrentRoute.Clone();

    for (int i = 1; i <= Model.TotalPages; i++)
    {
        routes.PageNumber = i;
        <a asp-action="List" asp-all-route-data="@routes"
           class="btn btn-outline-primary @Nav.Active(i, current.PageNumber)">@i</a>
    }
}
